<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url(<%= randomFont.importUrl %>);
      h1.codelab-title {
        font-family: <%= randomFont.name %>, sans-serif;
        font-weight: <%= randomFont.weight %>;
        }
    </style>
  </head>
  <body>
    <h1 class="codelab-title"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include partials/links.ejs %>
  </body>
</html>
