<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
        <%= message %>
    </p>
    <ul>
      <% for(i=0; i<data.length; i++){ %>
        <li>
          The channel's id is <%= data[i].id %> and it's name is <%= data[i].name %>.
        </li>
      <%  } %>
    </ul>
  </body>
</html>
